h1, h3 {
    text-align: center;
}

.image-gallery {
    margin-top: 10%;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
}


figure {
    text-align: center;
}

figcaption {
    font-style: italic;
    font-size: .75em;
}

.grid-item img{
    object-fit: cover;
    max-height: 500px;
}

.last-div-wrapper {
    text-align: center;
}

.last-div {
    float: right;
}

a:link {
    text-decoration: none;
}

a:hover {
    font-style: italic;
}
